* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Menu */

.menu { 
    width: 250px;
    height: 100vh;
    display: inline;
    float: left;
    border: 5px solid black;
    background: rgb(98,2,2);
    background: linear-gradient(180deg, rgba(98,2,2,1) 0%, rgba(136,2,2,1) 45%, rgba(204,1,1,1) 90%);
}

.menu:hover {
    border: 5px solid #BDBF09;
    transition: 3s;
}

.botoes-menu {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid black;
    background-color: #96C5B0;
    box-shadow: 10px 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.botoes-menu:hover {
    background-color: #ADF1D2;
}

.posicao-botoes {
    display: grid;
    padding: 25px;
    margin-top: 52vh;
}

.imagem {
    height: auto;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 10vh;
    left: 20px;
    border: 5px dashed #BDBF09;
}

/* Edições pag sobre */

.conteudo-sobre {
    position: absolute;
    top: 20%;
    left: 275px;
}

.conteudo-sobre h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.sobrenome {
    color: red;
}

.email {
    color: red;
}

.conteudo-sobre h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.txt-sobre {
    font-size: 18px;
}

.icones-redes {
    display: inline;
}

.logo {
    height: 70px;
    width: auto;
    margin-top: 70vh;
    margin-left: 10%;
}

/* Edições pag conhecimentos */

.conhecimentos {
    position: absolute;
    top: 15vh;
    left: 300px;
}

.conhecimentos ol{
    list-style-type: upper-alpha;
    list-style-position: inside;
} 

.conhecimentos li {
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bolder;
}

.linguagens {
    position: absolute;
    display: inline;
    left: 25vw;
}

.linguagens img{
    height: 100px;
    width: auto;
    margin-top: 70vh;
    margin-right: 10px;
}